$white: #ffffff;
$black: #3b3b3b;
$gray: #8f8f8f;
$blue: #191970;
$green: #80d8d0;
$brown: #c9af9b;
$red: #fd0125;

$dinProBold: 'DINPro-Bold', sans-serif;
$dinProRegular: 'DINPro-Regular', sans-serif;

$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 320px;