#wrapper {
  overflow: hidden;
  padding-top: 197px;
}

.page-container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1004px;
}

.page-content {
  padding: 0 30px 30px;
  display: flex;
}

.page-sidebar {
  width: 273px;
  margin-left: 30px;
}


.page-content-inner  {
  flex: 1;
}